.section-about{
   display: flex;
   flex-direction: column;
   position: relative;
   margin-top: 80px;
}
.title-about{
   color: #f4ce14bf;
   font-size: 66.25px;
   font-family: Markazi Text;
   font-weight: 600;
   margin: 30px 0 0 0;
   line-height: .7;
}
.subtitle-about{
   color: #fff;
   font-size: 41.13px;
   font-family: Markazi Text;
   font-weight: 400;
   margin: 0 0 30px 0;
}
.txt-about{
   text-align: justify;
   max-width: 300px;
   font-weight: 500;
   color: #fff;
   font-family: 'Karla';
   margin: 0;
}
.img-aMario{
   right: 0;
   width: 200px;
   height: 270px;
   border-radius: 12px;
   position: absolute;
   border: 1px solid #000;
   aspect-ratio: 8660/5773;
}
.img-bMario{
   top: 130px;
   right: 125px;
   width: 200px;
   height: 270px;
   border-radius: 12px;
   position: absolute;
   border: 1px solid #000;
   aspect-ratio: 8660/5773;
}