.footer{
   margin-top: 80px;
   display: flex;
   justify-content: space-between;
}
.logo-footer{
   width: 180px;
}
.column{
   color: #fff;
   list-style: none;
   font-family: 'Karla';
   line-height: 2;
}
.bold-footer{
   font-weight: 700;
}