.form-container{
   display: flex;
   height: 100vh;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}
.booking-form{
   display: grid;
   place-items: center;
   padding: 1em;
   gap: 2rem;
}
.label-booking{
   font-size: 40px;
   color: #ffffffde;
   font-weight: 500;
   cursor: pointer;
}
.input-booking{
   text-align: center;
   font-size: 15px;
   border-radius: .5em;
   padding: .25em .9em;
   cursor: pointer;
   border: none;
}
.confirm-reservation{
   border-radius: .5em;
   font-size: 1.3em;
   border: none;
   padding: .2em 1em;
   color: #000;
   font-family: 'Karla';
   font-weight: 600;
   margin-top: 20px;
   cursor: pointer;
   background: #f4ce14;
}
.cancel{
   font-size: 1em;
   border-radius: .5em;
   font-family: 'Karla';
   font-weight: 600;
   color: #000;
   border: none;
   background: #f4ce14;
   margin-bottom: 20px;
   padding: .2em 1em;
}